.tui-pagination {
  display: flex;
  justify-content: center;
}
.tui-first {
  display: none;
}
.tui-page-btn {
  display: block;
  width: 40px;
  height: 40px;
}
.tui-prev {
  cursor: pointer;
  position: relative;
  display: block;
  background-color: $footer-Bg-color;
  border-radius: 5px;
}
.tui-ico-prev {
  position: relative;
  font-size: 0;
  top: 20px;
  width: 10px;
  height: 1.33px;
  background-color: $secondary-Bg-color;
  //   box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  left: 15px;
  display: block;
}
.tui-ico-prev::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1.33px;
  top: 2px;
  right: 5px;
  background-color: $secondary-Bg-color;
  transform: rotate(45deg);
}
.tui-ico-prev::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1.33px;
  top: -2px;
  right: 5px;
  background-color: $secondary-Bg-color;
  //   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
.tui-next {
  cursor: pointer;
  position: relative;
  display: block;
  background-color: $footer-Bg-color;
  border-radius: 5px;
}
.tui-ico-next {
  position: relative;
  font-size: 0;
  top: 20px;
  width: 10px;
  height: 1.33px;
  background-color: $secondary-Bg-color;
  //   box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
  left: 15px;
  display: block;
}
.tui-ico-next::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1.33px;
  top: -2px;
  right: 0;
  background-color: $secondary-Bg-color;
  transform: rotate(45deg);
}
.tui-ico-next::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1.33px;
  top: 2px;
  right: 0;
  background-color: $secondary-Bg-color;
  //   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
